@import "tailwindcss";
@import "@fontsource/open-sans";

:root {
  --primary: #2190ac;
  --secondary: #027491;
  --background: #f8f8f8;
  --button-background: #f1eeee;
  --hover-color: #5ea0b1;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-button-background: var(--button-background);
  --color-hover-color: var(--hover-color);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}